#dados-github{
    backdrop-filter: blur(2px);
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    background-color: #0d11176b;
    margin: 3em;
    box-shadow: 1px 1px 18px #1f6feb;
    border-radius: 15px;
}

#img-avatar{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

}

.repoList{
    overflow-y: auto;
    height: 50vh;
    padding: 1.3em 1em;
}

.repoList a{
    color: #ffffff;
    transition: .4s ease-in;
}

.repoList a p{
    display: flex;
    align-items: center;
    gap: 1em;
}

.description{
    display: flex;
    gap: 1em;
}

.iconGH{
    animation: flutuar 2s infinite ease-in-out;
}

.certificado{
    height: 50% !important;
}

.certificado img{
    height: 100%;
    width: 100%;
}

.swiper-certificados{
    width: 30%;
    margin: 0;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #1f6feb;
}

#link-dio{
    text-decoration: none;
    color: #1f6feb;
    font-weight: bold;
}

.title img{
    height: 6vw;
}

@keyframes flutuar {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}

.localData ul li{
    list-style: circle;
}

.localData ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.repoList a:hover{
    color: #1f6feb;
}

.repoList p{
    border: 1px solid #1f71eb77;
    padding: 5px;
    border-radius: 10px;
}

.repoList .description{
    border-radius: 10px;
    background-color: #1f71eb36;
    margin-bottom: 1.5em;
    padding: 10px;
}

.blob{
    position: absolute;
    height: 100px;
    opacity: .2;
    animation: blob 30s ease-in-out infinite;
}

.blob3{
    position: absolute;
    height: 90px;
    opacity: .2;
    animation: blob 20s ease-in-out infinite;
}

.blob2{
    position: absolute;
    height: 200px;
    opacity: .1;
    animation: blob 15s ease-in-out infinite;
}
@keyframes blob {
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateX(200px);
    }
    20%{
        transform: translateY(1000px);
    }
    40%{
        transform: translate3d(300px);
    }
    60%{
        transform: translateX(100px);
    }
    70%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

#dados-user{
    width: 50%;
}

.localData a{
    text-decoration: none;
    font-weight: bold;
}

.imgAvatar{
    height: 100%;
    border-radius: 100%;
}

.card-data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.4em;
}

.certificado-body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
    z-index: 999;
    backdrop-filter: blur(1px);
    transition: .4s ease-in-out;
}

.open{
    height: 100vh;
    overflow: visible;
    visibility: visible;
    width: 100vw;
}

.body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineRepo{
    margin-bottom: 2vw;
}

html{
    overflow-x: hidden !important;
}

.wave{
    position: relative;
}

.wave img{
    backdrop-filter: blur(3px);
    
}

.swiper-certificados{
    width: 45%;
    height: 50%;
    margin: 0;
}

.open .close{
    position: fixed;
    top: 0;
    right: 1em;
    font-size: 3vw;
    color: red;
    cursor: pointer;
}

.swiper-cert{
    cursor: pointer !important;
}

.swiper-cert:active{
    cursor: grabbing !important;
}

@media(max-width: 800px){
    .imgCertificado{
        height: 50%;
    }
}

@media(max-width: 740px){
    .card-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 2em;
    }

    .card-data #img-avatar{
        height: 100px;
    }

    .imgCertificado{
        height: 30%;
    }

    .swiper-certificados{
        width: 45%;
        height: 50%;
        margin: 0;
    }

    .wave img{
        backdrop-filter: blur(0px);
        top: 1px;
        z-index: 999;
        position: relative;
    }

    .open .close{
        position: fixed;
        top: 3em;
        right: 1em;
        font-size: 8vw;
        color: red;
        cursor: pointer;
    }


    #img-avatar{
        margin-top: 1em;
        gap: 1em;
        display: flex;
        flex-direction: row;
    }

    #dados-user {
        width: 100%;
    }  

    #dados-github{
        margin: 1em;
        padding: 1.8em 1em;
    }

    .localData ul{
        padding: .5em;
    }

    .localData ul li{
        list-style: none;
    }

}

@media screen and (orientation: landscape){
    .imgCertificado{
        height: 90%;
    }
}